In [35]:
import numpy as np
import pandas as pd

In [36]:
#Sample Dataset

data = {
    'A':[1,2,np.nan,4,5],
    'B':[5,np.nan,np.nan,8,10],
    'C':['cat','dog','cat',np.nan,'dog']
}

df = pd.DataFrame(data)
print(df)

     A     B    C
0  1.0   5.0  cat
1  2.0   NaN  dog
2  NaN   NaN  cat
3  4.0   8.0  NaN
4  5.0  10.0  dog

In [37]:
#Removing row with missing values

df_drop = df.dropna()
print(df_drop)

     A     B    C
0  1.0   5.0  cat
4  5.0  10.0  dog

In [38]:
#Removing Columns with missing values
df_drop_col = df.dropna(axis=1)
print(df_drop_col)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [39]:
# fill with a constant value

df_fill = df.fillna("Fill..")
print(df_fill)

        A       B       C
0     1.0     5.0     cat
1     2.0  Fill..     dog
2  Fill..  Fill..     cat
3     4.0     8.0  Fill..
4     5.0    10.0     dog

In [40]:
# Imputing with mean for numerical columns
df['A']=df['A'].fillna(df['A'].mean())
df['B']=df['B'].fillna(df['B'].mean())
print(df)

     A          B    C
0  1.0   5.000000  cat
1  2.0   7.666667  dog
2  3.0   7.666667  cat
3  4.0   8.000000  NaN
4  5.0  10.000000  dog

In [41]:
# Imputing with mode for categorical columns
df['C']=df['C'].fillna(df['C'].mode()[0])
print(df)

     A          B    C
0  1.0   5.000000  cat
1  2.0   7.666667  dog
2  3.0   7.666667  cat
3  4.0   8.000000  cat
4  5.0  10.000000  dog

In [42]:
from sklearn.impute import SimpleImputer
#Imputing numerical columns with mean 
numerical_imputer = SimpleImputer (strategy='mean') 
df[['A', '8']] = numerical_imputer.fit_transform(df[['A', 'B']])

print(df)

# Imputing categorical columns with most frequent (mode)
categorical_imputer = SimpleImputer(strategy='most_frequent')

df[['C']] = categorical_imputer.fit_transform(df[['C']])
print(df)

     A          B    C          8
0  1.0   5.000000  cat   5.000000
1  2.0   7.666667  dog   7.666667
2  3.0   7.666667  cat   7.666667
3  4.0   8.000000  cat   8.000000
4  5.0  10.000000  dog  10.000000
     A          B    C          8
0  1.0   5.000000  cat   5.000000
1  2.0   7.666667  dog   7.666667
2  3.0   7.666667  cat   7.666667
3  4.0   8.000000  cat   8.000000
4  5.0  10.000000  dog  10.000000

In [43]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
iterative_imputer = IterativeImputer()
df[['A','B']] = iterative_imputer.fit_transform(df[['A','B']])
df[['A','B']]

     A          B
0  1.0   5.000000
1  2.0   7.666667
2  3.0   7.666667
3  4.0   8.000000
4  5.0  10.000000